@import "tailwindcss";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: "Instrument Sans", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
    --warna1: #185598;
}

.select2-container .select2-selection {
    height: 3rem;
    padding: 0.4rem 1rem;
    font-size: 1rem;
    border-radius: 0.375rem;
    border-color: #185598;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    display: flex;
    align-items: center;
}

.select2-container--default.select2-container--focus .select2-selection {
    border-color: #185598 !important;
}

.select2-container .select2-selection__rendered {
    color: #185598 !important;
    font-size: 1rem;
    display: flex;
    align-items: center;
}

.select2-container .select2-selection__arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding-right: 0.75rem;
    margin-top: 10px;
}

.select2-container .select2-dropdown {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 0.375rem;
}

.select2-container .select2-results__option {
    padding: 0.5rem;
    font-size: 1rem;
    color: #185598 !important;
}

.select2-container .select2-results__option[aria-selected="true"] {
    background-color: #185598 !important;
    color: #ffff !important;
}

.select2-container .select2-results__option:hover {
    background-color: #185598 !important;
    color: #ffff !important;
}

.select2-container .select2-dropdown {
    border-radius: 0.375rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}
/* Header Table */
table.dataTable thead {
    color: #fff;
}

/* Cell Style */
table.dataTable th,
table.dataTable td {
    text-align: center;
    vertical-align: middle;
}

/* Length & Filter Wrapper */
.dataTables_length,
.dataTables_filter {
    margin-bottom: 15px;
}

/* Search Box */
.dataTables_wrapper .dataTables_filter input {
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 6px 10px;
    outline: none;
}

/* Dropdown "Show entries" */
.dataTables_wrapper .dataTables_length select {
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 6px 10px;
    outline: none;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}
.spinner {
    animation: spin 0.9s linear infinite;
}
